.results {
    margin-top: 50px;
    padding: 20px;
    background-color: $color13;

    .r-list {
        list-style-type: none;
        padding-left: none;

        .r-info {
            font-weight: bold;
            color: $color16;
        }
    }   
}