.section {
    z-index: 0;
    position: relative;
    width: 100%;

    &.-home {
        margin-top: 20px;

        .s-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &.-dashboard {
        min-height: calc(100vh - 160px);
        padding-top: 50px;
        background-color: $color13;
    }

    &.-question {
        padding-top: 50px;
        padding-bottom: 80px;

        .s-paragraph {

        }

        .s-code {
            width: 100%;
            padding: 20px;
            background-color: $color13;
        }

        .s-col {
            padding-bottom: 100px;
        }
    }
}