.title {
    font-family: $roboto;
    color: $color20;

    &.-main {
        font-size: $f-s9;
        line-height: 60px;
        font-weight: bold;
    }


    &.-question {
        margin-top: 0;
        font-size: $f-s9;
    }

    &.-sub {
        font-size: $f-s5;
        font-weight: bold;
    }

    &.-send {
        font-size: $f-s5;
    }

}