@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@400;500;700;900&display=swap');

$roboto: 'Roboto', sans-serif;
$firacode: 'Fira Code', monospace;

$f-s10: 72px;
$f-s9:  48px;
$f-s8:  36px;
$f-s7:  32px;
$f-s6:  24px;
$f-s5:  18px;
$f-s4:  16px;
$f-s3:  14px;
$f-s2:  12px;
$f-s1:  10px;